html	{
	font-family: 'Bebas Neue', serif;
	font-size: 42pt;
	color:rgb(20, 126, 55);
	background: black;
}
body{
	margin: auto;
}
body > h1{
	text-align: center;
	margin:0%;
}

section.feed{
	background-color: rgb(16, 37, 21);
	overflow: scroll;
	height: 60vh;
	font-size:8pt;
}

section.feed h2
{
	margin-bottom: 0;
	font-size: 20pt;
	color:rgb(0, 0, 0);
	background-color: rgb(57, 131, 73);
	padding:20px 5px;
}

.AANYFwxP9otVng4xI 
{
	grid-area: red1;
}
.A99eLULBxmhJkUDNy
{
	grid-area: red2;
}
.AImxdXBadrB5t2Ht9
{
	grid-area: red3;
}
.A44ihVpBO5vrHeBg5
{
	grid-area: red4;
}
.AMvgG29lNKX14VsZZ
{
	grid-area: red5;
}
.A14qTQ05pWqCtBhSJ
{
	grid-area: red6;
}

.AFQbdrOl1H1ExjjkK
{
	grid-area: vid1;
	text-align: center;
}
.AKef6b6vNDe3nzODu
{
	grid-area: vid2;
	text-align: center;
}
.AKZAnHu4OTz4bGx2b
{
	grid-area: vid3;
	text-align: center;
}

output
{
	display:grid;
	grid:
    'vid1 vid1 red1 red2'
	'red5 red6 vid2 vid2'
	'vid3 vid3 red3 red4';
	grid-gap: 10px;
}

footer{
	text-align:center;
	font-size: 16px;
	margin-top: 5px;
	background-color: rgba(27, 109, 24, 0.37);
}

/*link to articles*/
a:link{
	
	display:none;
}

h2+a:link{
	
	font-weight: bold;
}
/*Rss app text small*/
h3{
	display: none;
}
p{
	margin: 0;
}
/*Rss app text big*/
output h1 {
	display:none;
}
